#back-to-top {
    background-color: #630000;
    bottom: 5px;
    color: #fff;
    right: 5px;
    z-index: 1
}
#container-fluid-0 {
    background-image: url("images/css/.container-fluid-0.png");
    background-position: center top;
    background-repeat: no-repeat;
    min-height: 1072px
}
#container-fluid-1 {
    background-image: url("images/css/.container-fluid-1.png");
    background-position: center top;
    background-position-y: 200px;
    background-repeat: no-repeat;
    min-height: 1050px
}
#container-fluid-2 {
    background-image: url("images/css/.container-fluid-2.png");
    background-position: center top;
    background-repeat: no-repeat;
    min-height: 796px
}
#container-fluid-3 {
    background-image: url("images/css/.container-fluid-3.png");
    background-position: right top;
    background-repeat: no-repeat;
    min-height: 1069px
}
#content, .hide {
    display: none
}
#discord, #facebook, #instagram, #twitch, #twitter, #youtube {
    color: rgb(255, 255, 255, .85);
    border: 1px rgb(255, 255, 255, .25) solid;
    height: 74px;
    transition: .5s;
    width: 74px
}
#discord i, #facebook i, #instagram i, #twitch i, #twitter i, #youtube i {
    position: relative;
    top: 20px
}
#discord:hover {
    background-color: #7289da;
    border-color: #7289da;
    color: #fff
}
#facebook:hover {
    background-color: #3b5998;
    border-color: #3b5998;
    color: #fff
}
#h3-archer {
    background-image: url("images/css/h3-archer.png");
    background-position: center;
    background-repeat: no-repeat;
    display: table;
    height: 58px
}
#h3-archer::before, #h3-berserker::before {
    content: ""
}
#h3-berserker {
    background-image: url("images/css/h3-berserker.png");
    background-position: center;
    background-repeat: no-repeat;
    display: table;
    height: 58px
}
#images .tabela img {
    opacity: .75;
    transition: .5s
}
#images .tabela img:hover {
    cursor: pointer;
    opacity: 1
}
#instagram:hover {
    background-color: #405de6;
    border-color: #405de6;
    color: #fff
}
#loading-screen {
    background-color: #000;
    height: 100vh;
    width: 100%
}
#loading-screen .position-absolute {
    top: 50%;
    transform: translatey(-50%)
}
#twitch:hover {
    background-color: #6441a5;
    border-color: #6441a5;
    color: #fff
}
#twitter:hover {
    background-color: #1da1f2;
    border-color: #1da1f2;
    color: #fff
}
#youtube:hover {
    background-color: #f00;
    border-color: #f00;
    color: #fff
}
.active.dropdown-item, .active.dropdown-item:hover {
    background-color: #3d483c;
    background-image: linear-gradient(to left, #404425, transparent);
    border-color: #5e6026
}
.active.nav-link, .active.nav-link:hover {
    color: #f5ba3a!important
}
.active.nav-link img, .nav-link img:hover {
    opacity: 1
}
.bg-light {
    background-color: rgb(0, 0, 0, .75)!important;
    color: #fff;
    font-family: 'Marcellus', serif;
    text-shadow: 1px 1px rgb(0, 0, 0, .75)
}
.bs-tooltip-left .arrow::before {
    border-left-color: rgb(0, 0, 0, .75)
}
.btn-primary {
    background-image: linear-gradient(#a37f5c, #75533c, #885e43);
    border-color: #4a3b1e;
    box-shadow: 0 1px 0 0 #e7b483 inset;
    text-shadow: 1px 1px #000
}
.btn-primary:active {
    background-image: linear-gradient(#8a674b, #714f39, #967353)!important;
    border-color: #4a3b1e!important;
    box-shadow: 0 1px 0 0 #c4936b inset!important
}
.btn-primary:focus {
    box-shadow: 0 1px 0 0 #e7b483 inset
}
.btn-primary:hover {
    background-image: linear-gradient(#dbaa7b, #9d6f51, #b77e5a);
    border-color: #4a3b1e;
    box-shadow: 0 1px 0 0 #fff2b0 inset
}
.btn-secondary {
    background-image: linear-gradient(#4e4e59, #38373e, #403f49);
    border-color: rgb(0, 0, 0, .75);
    box-shadow: 0 1px 0 0 #6f6f7f inset;
    text-shadow: 1px 1px #000
}
.btn-secondary:active {
    background-image: linear-gradient(#313138, #29282d, #393941)!important;
    border-color: rgb(0, 0, 0, .75)!important;
    box-shadow: 0 1px 0 0 #454550 inset!important;
}
.btn-secondary:focus {
    box-shadow: 0 1px 0 0 #6f6f7f inset
}
.btn-secondary:hover {
    background-image: linear-gradient(#696977, #4b4a53, #565562);
    border-color: rgb(0, 0, 0, .75);
    box-shadow: 0 1px 0 0 #9595aa inset
}
.card {
    background-color: #fff;
    border-color: rgb(0, 0, 0, .15);
    padding: 5px;
}
.card .btn-secondary {
    margin-bottom: 5px
}
.card-footer {
    background-color: transparent;
    border: none
}
.card-title::before, h3::before {
    content: "※ "
}
.carousel-caption {
    animation: 1s both cubic-bezier(.550, .085, .680, .530) text-focus-in;
    font-family: 'Cutive Mono', monospace!important;
    line-height: 113%;
    text-shadow: none
}
.carousel-caption .font-weight-bold {
    color: #630000
}
.carousel-caption span {
    background-color: #000
}
.carousel-indicators li {
    height: 10px;
    width: 10px
}
.decoration {
    background-image: url("images/css/.decoration.png");
    background-position: bottom left;
    background-repeat: no-repeat;
    height: 84px
}
.divider {
    height: 27px;
    opacity: .85
}
.divider-center {
    background-image: url("images/css/.divider-center.png");
    width: 24px
}
.divider-left {
    background-image: url("images/css/.divider-left.png");
    width: 155px
}
.divider-line {
    background-image: url("images/css/.divider-line.png")
}
.divider-right {
    background-image: url("images/css/.divider-right.png");
    width: 155px
}
.dropdown-item {
    background-color: rgb(43, 48, 58, .85);
    background-image: linear-gradient(#222730, transparent);
    border: 1px #323741 solid;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-bottom: 1px;
    text-shadow: 1px 1px #000;
    transition: .3s
}
.dropdown-item:hover {
    background-color: #6c5a37;
    background-image: linear-gradient(to left, #6c5934, transparent);
    border-color: #b48a39;
    color: #fff
}
.dropdown-item:last-child {
    margin-bottom: 0px
}
.dropdown-menu {
    background-color: transparent;
    border: none
}
.fa-bars {
    color: #fff
}
.flex-column {
    max-height: 625px;
    overflow-x: scroll;
    overflow-y: hidden
}
.flex-column .nav-link {
    padding: 5px
}
.flex-column .active.nav-link {
    background-color: transparent
}
.float-right {
    margin-left: 15px
}
.hr {
    background-image: url("images/css/.hr.png");
    height: 8px;
    opacity: .15
}
.icon, .viewpoint {
    white-space: nowrap;
    width: 1%
}
.jumbotron {
    background-attachment: fixed;
    background-image: url("images/css/.jumbotron.png");
    background-position: center top;
    padding: 61px 0 0 0
}
.media-img {
    border-color: rgb(0, 0, 0, .15);
    padding: 5px
}
.modal-backdrop {
    opacity: .75!important
}
.modal-content, .modal-footer, .modal-header {
    border: none
}
.navbar-brand {
    animation: .65s both linear rotate-scale-down
}
.navbar-divider {
    background-color: rgb(255, 255, 255, .15);
    height: 13px;
    top: 14px;
    width: 1px
}
.navbar-toggler {
    border: none
}
.navbar-toggler:focus, button:focus {
    outline: none
}
.nav-link {
    color: rgb(255, 255, 255, .5)!important;
    text-shadow: 1px 1px rgb(0, 0, 0, .75);
    transition: .5s
}
.nav-link img {
    border-radius: 3px;
    opacity: .5;
    transition: .5s
}
.nav-link:hover {
    color: #fff!important
}
.overlay {
    background-color: rgb(0, 0, 0, .75);
    color: rgb(255, 255, 255, .85);
    font-family: 'Marcellus', serif;
    text-shadow: 1px 1px rgb(0, 0, 0, .75)
}
.tabela {
    border-collapse: separate;
    border-spacing: 1px;
    width: 100%
}
.tabela td {
    background-color: #fff;
    border: 1px rgb(0, 0, 0, .15) solid;
    padding: 5px
}
.text-muted {
    color: rgb(0, 0, 0, .15)!important
}
.tooltip-inner {
    background: rgb(0, 0, 0, .75);
    color: rgb(255, 255, 255, .85);
    font-family: 'Marcellus', serif;
    padding: 15px
}
.user-score {
    border: 1px rgb(0, 0, 0, .15) solid;
    color: #630000;
    padding: 5px
}
@keyframes rotate-scale-down {
    0% {
        transform: rotatez(0) scale(1)
    }
    50% {
        transform: rotatez(180deg) scale(.5)
    }
    100% {
        transform: rotatez(360deg) scale(1)
    }
}
@keyframes text-focus-in {
    0% {
        filter: blur(12px);
        opacity: 0
    }
    100% {
        filter: blur(0px);
        opacity: 1
    }
}
@media (max-width: 576px) {
    #container-fluid-index .col {
        padding-left: 0;
        padding-right: 0
    }
}
@media (max-width: 992px) {
    #container-fluid-1 {
        background-position-y: 0;
        min-height: 950px
    }
}
body {
    overflow-x: hidden;
    position: relative
}
footer {
    background-image: url("images/css/footer.png");
    background-position: bottom center;
    bottom: 0;
    position: relative
}
footer .container-fluid {
    background-color: #242425
}
h3 span {
    display: table-cell;
    vertical-align: middle
}
hr {
    background-image: url("images/css/hr.png");
    border: none;
    height: 4px;
    opacity: .15
}
main {
    color: rgb(0, 0, 0, .85);
    font-family: 'Marcellus', serif;
    text-shadow: 1px 1px rgb(255, 255, 255, .25)
}
p {
    text-align: justify
}
::selection {
	background-color: rgb(0, 0, 0, .75);
	color: #fff;
	text-shadow: 1px 1px rgb(0, 0, 0, .75)
}